$main-font: "Roboto Condensed", sans-serif;
$bg-gradient: linear-gradient(
    90deg,
    rgba(96, 119, 240, 1) 0%,
    rgba(70, 144, 244, 1) 24%,
    rgba(218, 1, 221, 1) 42%,
    rgb(212, 0, 216) 61%,
    rgba(70, 144, 244, 1) 76%,
    rgba(96, 119, 240, 1) 100%
);

@mixin flex-center($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@keyframes backgroundMove {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    @include flex-center(space-between);
    font-family: $main-font;
    flex-direction: column;
    font-size: 2rem;
    overflow-x: hidden;
}

.header {
    @include flex-center(center);
    font-family: "Bangers", cursive;
    width: 100vw;
    height: 100px;
    margin: 40px;

    &__title {
        color: black;
    }
}

.newTask {
    @include flex-center(center);
    width: 85vw;
    padding: 40px;
    background: $bg-gradient;
    background-size: 500%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    animation: backgroundMove 15s infinite;

    &__input {
        font-family: $main-font;
        font-size: 2rem;
        height: 60px;
        width: 80%;
        padding: 30px;
        border: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    &__addTaskBtn {
        font-family: $main-font;
        font-size: 2rem;
        height: 60px;
        width: 20%;
        cursor: pointer;
        padding: 10px;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: background-color 0.5s;
        color: white;
        background-color: rgba(255, 255, 255, 0.329);

        &:hover {
            background-color: lighten(rgba(0, 247, 255, 0.5), 3%);
        }
    }
}

.tasks {
    @include flex-center(center);
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.062);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    &__list {
        @include flex-center(center);
        flex-direction: column;
    }

    &__item {
        @include flex-center(space-between);
        width: 70vw;
        list-style: none;
        text-align: left;
        margin: 20px;
    }

    &__doneTask {
        color: rgba(128, 128, 128, 0.603);
        font-style: italic;
    }
}

.toolsArea {
    @include flex-center(space-between);

    &__button {
        cursor: pointer;
        font-family: $main-font;
        border: none;
        height: 40px;
        min-width: 40px;
        padding: 5px;
        font-size: 1.2rem;
        transition: background-color 0.5s;

        &:hover {
            background-color: rgba(0, 110, 255, 0.205);
        }
    }

    &__button--complete {
        color: rgb(0, 190, 0);
    }

    &__button--edit {
        font-weight: 700;
    }

    &__button--delete {
        color: rgb(214, 0, 0);
    }

    &__button--disabled {
        color: rgba(128, 128, 128, 0.603);
        cursor: default;
    }
}

.editWindow {
    @include flex-center(space-evenly);
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex-direction: column;
    width: 100vw;
    height: 200px;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: $bg-gradient;
    background-size: 500%;
    animation: backgroundMove 15s infinite;

    transform: translateY(100%);
    transition: transform 1s;

    &--show {
        transform: translateY(0%);
    }

    &__input {
        font-family: $main-font;
        font-size: 1.5rem;
        border-radius: 20px;
        height: 20px;
        width: 80vw;
        padding: 20px;
    }

    &__buttonsWrapper {
        @include flex-center(space-evenly);
        width: 80vw;
    }

    &__button {
        margin-top: 10px;
        padding: 10px;
        width: 150px;
        cursor: pointer;
        font-size: 1.5rem;
        border: none;
        border-radius: 20px;
        transition: background-color 0.5s;
        color: white;
        background-color: rgba(255, 255, 255, 0.329);

        &:hover {
            background-color: lighten(rgba(0, 247, 255, 0.5), 3%);
        }
    }
}
